@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --white: #F1F1F1;
  --black: #373133;
  --blue: #b6d4d6;
  --green: #3bba78;
  --belge: #f5d9af;

  --titre: 'Montserrat', sans-serif;
  --titre1: 'Lobster', cursive;
  --texte: 'Poppins', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: url("images/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-size: var(--texte);
}

/* Nav ----------------- */

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: #373133;
}

.logo {
  font-family: var(--titre1);
  font-size: 50px;
  font-weight: bold;
  color: var(--belge);
  text-shadow: 1px 1px 3px var(--green);
}

.navigation {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  font-family: var(--titre);
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.nav-item:hover {
  color: var(--belge);
}

/* Content ----------------- */

.content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

/* desxription - Img ----------------- */

.description {
  width: 30%;
  height: 100%;
  /* background: #3bba78; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

img {
  width: 70%;
  height: auto;
  border-radius: 150px 150px 150px 150px;
  border: 15px solid #f5d9af90;
}

.description-links {
  background: #D23333;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px 35px;
}



/* Cotenu - About Me ... ----------------- */

.contenu {
  width: 70%;
  height: 100%;
  background: #f5d9af;
}

/* Footer ----------------- */

footer {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 5px 50px;
  align-items: center;
  justify-content: flex-end;
}

footer p {
  font-family: var(--texte);
  color: var(--white)
}

.fa-heart {
  color: #D23333;
}
