@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --white: #F1F1F1;
  --black: #373133;
  --blue: #b6d4d6;
  --green: #3bba78;
  --belge: #f5d9af;

  --titre: 'Montserrat', sans-serif;
  --titre1: 'Lobster', cursive;
  --texte: 'Poppins', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: url("images/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-size: var(--texte);
  position: relative;
}

body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 300;
  width: 300px;
  height: 90vh;
  background: #b6d4d633;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #3bba78, #b6d4d6) 1;
}

/* Nav ----------------- */

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: #373133;
}

.logo {
  font-family: var(--titre1);
  font-size: 50px;
  font-weight: bold;
  color: var(--belge);
  text-shadow: 1px 1px 3px var(--green);
}

.navigation {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  font-family: var(--titre);
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.nav-item::before {
  position: absolute;
  content: "";
  bottom: 0;
  background: rgb(59,186,120);
  background: linear-gradient(65deg, rgba(59,186,120,1) 20%, rgba(182,212,214,1) 85%);
  height: 3px;
  width: 0;
  transition: all 300ms linear;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-item:hover {
  color: var(--belge);
}

/* Content ----------------- */

.content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

/* desxription - Img ----------------- */

.description {
  width: 30%;
  height: 100%;
  /* background: #3bba78; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.description img {
  width: 70%;
  height: auto;
  border-radius: 150px 150px 150px 150px;
  border: 15px solid #f5d9af90;
  position: relative;
}

.description-links {
  /* background: #D23333; */
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.description-links .fab {
  color: var(--white);
  margin: 10px 0px;
  font-size: 1.5em;
  background: #f5d9af90;
  padding: 7px 7px;
  border-radius: 50%;
  transition: all 200ms linear;
}

.description-links .fab:hover {
  opacity: 0.7;
  background: var(--green);
}



/* Cotenu - About Me ... ----------------- */

.contenu {
  width: 60%;
  height: 90%;
  /* background: #3bba78; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px 15px;
}

.contenu h1 {
  font-family: var(--titre1);
  font-size: 4em;
  font-weight: bold;
  color: var(--belge);
  width: 280px;
  position: relative;
}

.contenu h1::before {
  position: absolute;
  content: "";
  background: rgb(59,186,120);
  background: linear-gradient(65deg, rgba(59,186,120,1) 20%, rgba(182,212,214,1) 85%);
  top: 0;
  right: 0;
  height: 1em;
  width: 1.5em;
  z-index: -1;
  border-radius: 10% 40%/50% 20%;
}

.contenu p {
  width: 100%;
  height: 80%;
  font-size: 1em;
  font-family: var(--texte);
  color: var(--white);
  line-height: 1.8em;
  padding-left: 90px;
  padding-top: 10px;
}

.contenu .p-link {
  text-indent: 25px;
}

.contenu p a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  transition: all 200ms linear;
}

.contenu p a:hover {
  color: var(--green);
}

/* link déroulant */

.about-me {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px 15px;
  display: none;
}

.stacks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px 15px;
  display: none;
}

.stacks h1 {
  width: 210px;
}

.stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 120px;
  padding-top: 10px;
  /* background: #3bba78; */
}

.stack img {
  width: 60px;
  height: 60px;
}

.card {
  position: relative;
}

.card:hover img {
  opacity: 0.2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--belge);
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-shadow: 1px 1px 3px var(--green);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: all 200ms linear;
}

.overlay:hover {
  opacity: 1;
}

.portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px 15px;
}

.portfolio h1 {
  width: 350px;
}

.portfolio img {
  width: 100%;
  height: auto;
}

.projets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 120px;
  padding-top: 10px;
  /* background: #3bba78; */
}


/* Footer ----------------- */

footer {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 5px 50px;
  align-items: center;
  justify-content: flex-end;
}

footer p {
  font-family: var(--texte);
  color: var(--white)
}

.fa-heart {
  color: var(--green);
}
